/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/***** HEADER *****/


.container{
	width: 876px;
	margin: auto;
}
nav {
	display:flex; 
	justify-content: space-between;
	margin-bottom: 90px;
}

nav a{
	color: #b3b3b3;
	text-decoration: none; 
	 
}

header {
	
	height: 600px; 
	border-bottom: 1px solid black; 
}

h1 { 
	width: 200px;
	font-size:65px; 
	margin: 0px 0px 10px 100px;
	padding: 0px; 
	text-align:center; 

}
button {
	margin: 10px 0px 80px 125px; 
	padding: 10px 45px; 
	background-color:white; 
	border: 1px solid black; 
}

header section {
	display:flex;
	justify-content: space-around; 
	
}

/***** MAIN *****/
main {
	display:flex; 
	flex-wrap: wrap;
	border-bottom: 1px solid black; 
}

.top-main {
	display:flex;
	justify-content: center; 
	margin: 30px 0; 
}

/*.half-width {
	display: flex;
	justify-content: center;
	border: 1px solid black; 
	/*width: 49.5%;*/
	/*margin: 30px 0;
	


.third-width {
	width: 33%; 
	display:inline-block;  
	margin: 30px 0; */


.middle-img {
	display:flex;
	justify-content:center; 
 
}

.bottom-main {
	display:flex; 
	justify-content:space-between; 
	margin: 40px 5px;
	
}
/*****FOOTER*****/

.contact {
	display:flex;
	flex-direction: column;
	margin: 20px 0;
	/*justify-content: flex-start;*/
}

.contact p {
	display:flex;
	align-content:space-around;
	margin-top:20px;
}

.copyright {
	display:flex; 
	justify-content: center;
}

/***** SERVICES ******/
.services-header {
	height: 450px;  
}
.services-nav {
	display: flex; 
	justify-content: space-between;
	align-items: baseline; 
	margin: 30px 0; 
	font-family: "Comic Sans MS", cursive, sans-serif
}
.services-logo {
	margin: 0; 
}
.services-header-img {
	display: flex;
	justify-content: center;
}
.services-header-content h2 {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: flex-start; 
	font-size: 30px; 
	margin: 30px 0 20px 0;

}

.services-header-content p {
	line-height: 20px;
}

.services-main {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;  
	margin-top: 20px;  
	
}

.box {
	width: 400px;
	height: 250px;
	margin: 20px 0;
	padding: 20px; 
	background: #f2f2f2; 
	border: 1px solid black;
}

.box p {
	line-height: 20px; 
}

.services-button {
	display:flex;
	margin: 20px 0;
	justify-content: center; 
	border-radius: 6px;
}

.services-footer {
	display:flex; 
	flex-wrap: wrap; 
	justify-content: space-between;
}
.services-footer-content, .services-info-img{
	width: 49.5%;
	margin: 40px 0;
	
}

.services-footer-content {
	line-height: 20px;
}
ul {
	list-style-type: square; 
	padding: 30px;
	line-height: 20px; 
}
li {
	line-height: 30px; 
}
.copyright {
	display:flex;
	justify-content:center; 
}